@import url("http://fonts.googleapis.com/css?family=Cabin Condensed");
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  height: 100%; }

body {
  font-size: 15px;
  font-family: Cabin Condensed, sans-serif;
  background: black; }

header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#fff, #bbb);
  background: linear-gradient(#fff, #bbb); }
  header .groupName {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px white; }
  header .updateTime {
    float: right;
    margin-right: 10px;
    text-shadow: 1px 1px 1px white; }

footer .todayMessage {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 20px;
  font-size: 24px;
  left: 0px; }
footer .stats {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #555; }

.cover {
  padding-right: 270px; }
  .cover .entry {
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin: 5px;
    padding: 10px;
    position: relative; }
  .cover .imgArt {
    width: 290px;
    border: 5px solid black;
    background-color: black; }

.user {
  text-align: center;
  background-color: black;
  padding: 5px;
  border: 5px solid black;
  display: none; }

.artistOuter, .songOuter {
  position: absolute;
  left: 4px;
  bottom: 32px;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px 5px 0px; }

.artist, .song {
  color: black;
  background-color: #ccc;
  padding: 5px 10px 5px 10px; }

.songOuter {
  bottom: 0px; }

.nothingPlaying {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  border: 100px solid #ccc;
  padding: 60px;
  border-radius: 150px;
  color: #ccc;
  font-size: 50px;
  text-align: center; }

.artistChart {
  width: 250px;
  position: absolute;
  right: 0;
  top: 60px;
  color: white;
  background-color: #333;
  margin-right: 10px; }
  .artistChart h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px; }
  .artistChart h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .artistChart ol {
    margin-left: 35px;
    margin-bottom: 10px; }
  .artistChart .unique {
    float: right;
    padding-right: 10px; }

.map {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #333;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .map h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .map #map-canvas {
    margin: auto;
    width: 230px;
    height: 230px; }
