$bg-color: black;
$font-fam: Cabin Condensed;
$chartBg-color: #333;

$chartWidth: 250px;
$chartPadding: 10px;

@import url("http://fonts.googleapis.com/css?family="+$font-fam);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: $font-fam, sans-serif;
  background: black;
}

header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#fff, #bbb);
  background: linear-gradient(#fff, #bbb);
  .groupName {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
  }  
  .updateTime {
    float:right;
    margin-right:10px;
    text-shadow: 1px 1px 1px white;
  }
}

footer {
  .todayMessage {
    position:absolute;
    width:100%;
    text-align:center;
    color: white;
    bottom:20px;
    font-size:24px;
    left:0px;
  }

  .stats {
    position:absolute;
    bottom:5px;
    left:5px;
    color:#555;
  }
}

.cover {
  padding-right:$chartWidth + ($chartPadding * 2);
  .entry {
    width:300px;
    height:300px;
    overflow:hidden;
    float:left;
    margin:5px;
    padding:10px;
    position:relative;
  }
  .imgArt {
    width:290px;
    border:5px solid $bg-color;
    background-color:black;
  }
}
.user {
  text-align:center;
  background-color:$bg-color;
  padding:5px;
  border:5px solid $bg-color;
  display:none;
}

.artistOuter, .songOuter {
  position:absolute;
  left:4px;
  bottom:32px;
  width:300px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  padding:5px 10px 5px 0px;
}

.artist, .song {
  color:black;
  background-color:#ccc;
  padding:5px 10px 5px 10px;
}

.songOuter {
  bottom:0px;  
}

.nothingPlaying {
  width:500px;
  margin:auto;
  margin-top:100px;
  border:100px solid #ccc;
  padding:60px;
  border-radius: 150px;
  color:#ccc;
  font-size:50px;
  text-align:center;
}

.artistChart {
  width:$chartWidth;
  position:absolute;
  right:0;
  top:60px;
  color:white;
  background-color:$chartBg-color;
  margin-right:$chartPadding;

  h2 {
    font-size:18px;
    text-align: center;
    margin-top:10px;
  }

  h3 {
    font-size:14px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
  }

  ol {
    margin-left:35px;
    margin-bottom:10px;
  }
}

.map {
  width:$chartWidth;
  position:absolute;
  right:0;
  bottom:0;
  color:white;
  background-color:$chartBg-color;
  margin-right:$chartPadding;
  margin-bottom:$chartPadding;
  padding-bottom:$chartPadding;

  h2 {
    font-size:18px;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
  }

  #map-canvas {
    margin:auto;
    width:230px; 
    height:230px;
  }
}